<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dispq.css') }}">
</head>
<body>
<h1>{{ conts[1] }}</h1>
<h3>Previous Answers</h3>
<div class="dispre">
    <pre style="font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace; font-size: 17px">{{ conts[2] }}</pre>
</div>

<h3>Detected URLS</h3>
<div class="dispre">
    {% for url in conts[4] %}
        {% if url=="No URLS found" %}
            <p><a>{{ url }}</a></p>

        {% else %}
            <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
        {% endif %}
    {% endfor %}
</div>

<h3>New Answers</h3>
<form id="nform" action="rets" method="post">
    <input type="hidden" value="{{ conts[0] }}" name="qid" id="qid">
    <div class="disnow">
        <textarea form="nform" name="tarea" id="tarea" class="boxsizingBorder">{{ conts[2] }}</textarea><br>
        <button type="submit" id="sbton">Save</button>
    </div>
</form><br>
<div id="tbt">
    {% if (conts[0]>0)  %}
    {% if (conts[0] < conts[3]) %}
        <a href="{{ conts[0] - 1 }}"><button class="d2">Previos</button></a>
        <a href="{{ conts[0] + 1 }}"><button class="d2">Next</button></a>
        {% elif (conts[0]==conts[3]) %}
        <a href="{{ conts[0] - 1 }}"><button class="d2">Previous</button></a>
    {% endif %}
    <a href="/"><button id="ant">Home</button></a>
    <a href="{{ conts[5] }}" target="_blank"><button id="ant">Google the Question</button></a>
    {% endif %}
</div>


</body>
</html>